.div1 {
    width: 350px;
    height: 180px;
    margin-left: 50px;
    background: linear-gradient(to right ,rgba(0, 0, 0, 0.83), rgba(150, 0, 78, 0.498)), url(./img/8e893739b56490f071506c5da01691fb.jpg) no-repeat center center / cover;
}
.btn1 {
    width: 350px;
    height: 50px;
    margin-left: 50px;
    background-color: rgb(172, 99, 111);
    outline: none;
    border: 2px solid white;
    color: white;
    border-radius: 30px;
    font-size: 20px;
}
a {
    list-style: none;
    text-decoration: none;
    color: white;
}
.img1 {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-radius: 50%;
}
.img2 {
    width: 350px;
    height: 180px;
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.img2:hover {
    transform: scale(1.5);
    transition: all 1s
}

.heart-container {
    margin-left: 100px;
    font-size: 100px; 
    color: red; 
    animation: heartbeat 2s infinite;
}


@keyframes heartbeat {
    0%, 20%, 50%, 80%, 100% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.1);
    }
    30% {
        transform: scale(0.9);
    }
}
.icon {
    font-size: 80px;
    margin-left: 100px;
    margin-top: 30px;
}
.navbar {
    width: 1000px;
    height: 60px;
    border: 3px solid black;
    padding: 0 29px;
    margin-left: 59px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-bottom: 50px;
    
}
.img3 {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    border-radius: 50%;
}
ul {
    display: flex;
    gap: 50px;
    font-size: 20px;
    margin-right: 100px;
}
.inp1 {
    width:300px;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 20px;
    outline: none;
}

.fixed-box {
    position: fixed;
    top: 450px;
    right: 500px;
    width: 200px;
    height: 170px;
    background-color: rgb(60, 144, 253);
    color: white;
    text-align: center;
    line-height: 50px;
  }
  .images {
    width: 200px;
    height: 200px;
  }
